@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/background-smaller.jpg");
  background-color: #ee1c25;
  background-size: cover;
  background-repeat: no-repeat;
}
.cards {
  margin: 5%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.card-form,
.card-display {
  max-width: 25rem;
  min-width: 25rem;
  max-height: 100vh;
  min-height: 60vh;
  border: solid black 1px;
  text-align: center;
  padding: 2em 0.5em 0.5em 0.5em;
}

.card-form {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins", sans-serif;
}

.card-form h1 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 140%;
  color: #ee1c25;
}

.card-form .customization {
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  line-height: 300%;
  padding: 5%;
}

.customization label {
  opacity: 80%;
}
.customization input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  outline: none;
}

.customization .name-customization {
  margin-left: 10%;
}
.customization .greeting-customization {
  width: 100%;
}

.card-form .save-card-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 3% 10%;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 180px;
  border: solid black 1px;
  color: whitesmoke;
  background-color: #07ab35;
  font-size: 0.8rem;
}
.card-display {
  background-image: url(/images/background.png);
  background-size: cover;
}

.card-display .title {
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
}

.card-display .name {
  color: #ee1c25;
}
.card-display .greeting {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 0.8rem;
  padding: 15% 5% 5% 5%;
  line-height: 200%;
}
